body {
  transition: 300ms ease-in-out;
}

.menu-body {
  margin-top: 100px;

  @media (max-width: 600px) {
    margin-top: 32px;
  }
}

.my-description {
  max-width: 900px;
}

.skill-group {
  width: 420px;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.project-card {
  width: 360px;

  @media (max-width: 400px) {
    width: 100%;
  }
}

.custom-carrousel {
  max-width: 90%;
  width: 75%;
  min-width: 400px;

  .q-carousel {
    border-radius: 5px !important;
    height: 550px;
    cursor: pointer;
  }
}

.custom-caption {
  text-align: center;
  padding: 12px 16px;
  background-color: rgba(0, 0, 0, 0.55);
}
